*{
    margin: 0;
    padding: 0;
}


.about{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%),url(../images/n5.jpg);
    background-position: center;
    background-size: cover;
}

.about p{
    font-family: 'Courier New', Courier, monospace;
}
