*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/n4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.our-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.your-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.our-btn:hover{
    border: 1px solid #33C4FF;
    background: #33C4FF;
    transition: 1s;
}

.your-btn:hover{
    border: 1px solid #33C4FF;
    background: #33C4FF;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
   .text-box h1{
    font-size: 20px;
   } 
   .nav-links ul li{
    display: block;
   }

   .nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
   }
   
   nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
   }

   .nav-links ul{
    padding: 30px;
   }
}

/*---Second page----*/
.RealEstate{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #191970;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.RealEstate p{
    color: #191970;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.our-col{
    flex-basis: 23%;
    background: #CEF9D4;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 20px 12px;
    box-sizing: border-box; 
    transition: 0.5s;
}

.our-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }

}

/*--Project Page--*/

/*--.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.project-col{
    flex-basis: 17%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(201, 242, 155, 0.5);
}


.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}--*/

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.row{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.project-col{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.project-col img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
}


.social-icon{
    color: #aaaaaa;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon:hover{
    color:#333333;
}



